@{
    Layout = "_Layout";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap-grid.min.css" />

<div style="margin-top:5%;margin-bottom:5%">
    <br><br><br>

        <div class="container d-flex justify-content-center">
            <img src="~/img/logo.svg" style="width:50%; height:50%" />
        </div>

        <div class="container mt-3" style="font-size:x-large">
            2024 yılında okul projesi ile başlayan ticaret odaklı sitemiz Ridex,
            bugün sizlere hizmet vermeye devam ediyor..
            Ridex, başladığı okul projesinden doğan tutku ve özveri ile yola çıkarak, günümüzde kaliteli araçları uygun fiyatlarla buluşturan bir ticaret platformuna dönüştü. Müşteri memnuniyetini ön
            planda tutan anlayışımızla, her geçen gün daha fazla kişiye güvenilir ve keyifli bir araç alım
            deneyimi sunmaya devam ediyoruz. Sizleri Ridex ailesine katılmaya davet ediyoruz, çünkü biz
            sadece araba satmıyor, hayallerinizi gerçeğe dönüştürüyoruz.
        </div>
</div>
